#logga{
	width:100%;
	
}
#header{
	width: 470px;
	height: 63px;

}
#header2{
	width: 250px;
	height: 63px;
}
form input{
	display: inline;
}
#sokknapp{
	width: 70px;
}
#logga-in{
	width: 100px;
	margin-top: 0%;

}
header{
	background-color: hsl(0, 0%, 87%);

}
#varukorg{
	width: 70px;
	margin-left: 50%;

}


