#logga{
	width:100%;
	
}
#header{
	width: 470px;
	height: 63px;

}
#header2{
	width: 250px;
	height: 63px;
}
form input{
	display: inline;
	width: 55%;
}
#sarch{
	font-size: 12px;
	width: 18%;
}
header{
	background-color: hsl(0, 0%, 87%);
	padding-bottom: 0%;

}
#varukorg{
	width: 20%;
	margin-left: 5%;
}
 nav a{
	color: grey;
}
#logga-in{
	width: 30%;
	padding-top: 0%;
}
#navigation ul li{
	display: inline;
}
#navigation ul li a{
	color: grey;
	padding: 2%;
}
.navbar{
	margin-left: 0%;
}
section ul {
  padding: 0%;
 list-style: none;
  float: left;
  background: #eee;
  border-radius: 3px;  
  margin-top: 7%;
  width: 60%;
  font-size: 12px

}
section ul li a{
	color: grey;
}
#nav-login{
	float: right;
	display: inline;
}
nav{
	display: inline;
	
}


}


























