#logga{
	width:100%;	
}
#header{
	width: 470px;
	height: 63px;
}
#header2{
	width: 250px;
	height: 63px;
}
#SEO{
	text-indent: -9999999px;
	font-size: 0px;
}
form input{
	display: inline;
	width: 55%;
}
#sarch{
	font-size: 12px;
	width: 18%;
}
header{
	background-color: hsl(0, 0%, 87%);
	padding-bottom: 0%;}

#varukorg{
	width: 8%;
	float: right;
	margin-top: 2%;
}
.badge {
	float: right;
	margin-top: 1%;
	margin-right: 2%;
}
#nav-login{
	float:right; 
	display: inline;
	margin-top: 2%;
}
#logga-in{
	width: 40%;
	padding-top: 0%;
	float: right;
}	
nav a{
	color: grey;
}
#navigation ul{
	width: 100%;
}
#navigation ul li{
	display: inline;
}
#navigation ul li a{
	color: grey;
	padding: 5%;
}
.navbar{
	width: 100%;

}
div ul {
  padding: 0%;
 list-style: none;
  float: left;
  border-radius: 3px;  
  margin-top: 7%;
  width: 60%;
  font-size: 12px;
  float:right;
}
div ul li a{
	color: grey;
}
nav{
	display: inline;
}
#nav-login ul li{
	width: 100%;
}
.jumbotron{
	background-image: url("../bilder/pojke.jpg");	
	background-repeat: no-repeat;
	background-color: white;
}
.jumbotron h3{
	text-align: right;
	text-shadow: 2px 2px #fa9ecc;
}
#cta{
	float: right;
	color: #80ffaa;
}
.btn-lg{
	background-color: #fa9ecc;
	color: black;
	border-color: darkgrey;
	
}
h3{
	text-align: right;
	padding-bottom: 10%;
	text-shadow: 2px 2px #fa9ecc;	
}
h3:hover{
	text-shadow:2px 2px #99ffcc;
}
#glitter{
	width: 120%;
	
}
#box{
	width: 60%;
	float: right;

}
#steg1bild{
	width: 25%;
	
}
#steg2bild{
	width: 40%;
}
fieldset{
	display: inline;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}
#steg3text{
	width: 100%;
	text-align: center;

}
#steg3 h1{
	text-align: center;
}

.instagram{
	display: inline-block;
	border-radius: 50%
}
.instagram:hover {
    border: 3px solid #777;
}
h3{
	padding: 5%;
	text-align: center;
}
footer{
	background-color: hsl(0, 0%, 75%);
	color: black;
	padding-bottom: 2%;
	margin-right: 5%;
	margin-top: 1%;
}
footer a{
	color: black;

}
footer a:hover{
	color: grey;
	text-decoration: underline;
}
#socialmedia a img{
	float: right;
	border-radius: 50%;
}
#socialmedia a img:hover{
	border:3px solid #777;
}














